
/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(99, 11, 11);
    position: sticky;
    top: 0px;
}




main{
    
}
/*<!--
    The "id" is used in css to identify the referenced tag
   The "class" is used in css to identify a group and call apon it
 -->*/
 .home{
    background-image: url(pic/Pizza5.png);
    width: auto; 
    height: auto;
    padding: 50px;
    margin: auto;
    text-align: center;
 }



 #t1{
    color: white;
 }
#img1{
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;/*the pic doesnt repeat over and over*/
    background-position: bottom;
    background-attachment: fixed ;/*Keeps it on spot*/
    background-size: cover;/*allows us to scroll*/
}
#img2{
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;/*the pic doesnt repeat over and over*/
    background-position: bottom;
    background-attachment: fixed ;/*Keeps it on spot*/
    background-size: cover;/*allows us to scroll*/
}#img3{
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;/*the pic doesnt repeat over and over*/
    background-position: bottom;
    background-attachment: fixed ;/*Keeps it on spot*/
    background-size: cover;/*allows us to scroll*/
}#img4{
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;/*the pic doesnt repeat over and over*/
    background-position: bottom;
    background-attachment: fixed ;/*Keeps it on spot*/
    background-size: cover;/*allows us to scroll*/
}
#box{
    font-size: 20px;
    border: 3px solid lightsalmon;
    border-radius: 15px;
    width: auto; 
    padding: 5px;
}
#ticket{
    border: 3px solid lightsalmon;
    border-radius: 5px;
}
.button{
    text-decoration: none;
}

footer{
    background-color: lightslategray;

}