body{
    background-color: rgb(68, 0, 255);
    margin: 50px;
    background-image: url(pic/Pizza.PNG);
    background-repeat: no-repeat;/*the pic doesnt repeat over and over*/
    background-position: bottom;
    background-attachment: fixed ;/*Keeps it on spot*/
    background-size: cover;/*allows us to scroll*/
}
main{
    background-color:  rgba(107, 96, 96, 0.336); 
    border-radius: 15px; 
    width: 330px; 
    border: 3px solid lightsalmon;
    padding: 50px;
    margin: auto;
}
#t{
    color: white;
}
#img{
    height: 150px;
    width: 150px;
    border: 3px solid lightsalmon;
}
#box1{
    font-size: 30px;
    background-color: white; 
    border-radius: 15px; 
    border: 3px solid lightsalmon;
    padding: 10px;
    margin: auto;
    text-align: center;
    width:175px;
}

#email{
    font-size: 25px; 
    background-color: white; 
    border-radius: 15px; 
    border-color: lightsalmon
}

#password{
    font-size: 25px; 
    background-color: white; 
    border-radius: 15px; 
    border-color: lightsalmon;
}
#submit{
    font-size: 25px; 
    background-color: white; 
    border-radius: 15px; 
    border-color:  lightsalmon; 
    margin: auto; 
    display: inline-block; 
}
#submit:hover{
    background-color: lightsalmon;
    display: inline-block;
}
#id{
    color: aliceblue;
}